Package: com.akshu.khamankar
Name: WAPrompt
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Akshay Khamankar
Author: Akshay Khamankar
Section: Tweaks
